.sobre{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}

.sobre-titulo{
  position: relative;
}

.sobre-titulo h1{
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}

.sobre-titulo img{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.sobre-sections{
  display: flex;
  gap: 80px;
}

.sobre-right{
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.sobre-text{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 24px;
  font-weight: 500;
}

.sobre-skills{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sobre-skill{
  display: flex;
  gap: 50px;
  align-items: center;
  transition: 0.3s;
}

.sobre-skill p {
  min-width: 150px;
  font-size: 24px;
  font-weight: 500;
}

.sobre-skill hr{
  outline: none;
  border: none;
  width: 50%;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(270deg, #04accd 50.41%, #e123a0 90.2%);
}

.sobre-skill:hover{
  transform: scale(1.05);
  transition: 0.3s;
}

.sobre-conquistas{
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 80px;
}

.sobre-conquista{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: 0.5s;
}

.sobre-conquista h1{
  font-size: 60px;
  font-weight: 700;
  /*background: linear-gradient(270deg, #da9225 50.41%, #B923E1 90.2%);*/
  /*background: linear-gradient(267deg, #e65616 0.36%, #04accd 102.06%);*/
  background: linear-gradient(270deg, #04accd 50.41%, #e123a0 90.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sobre-conquista p{
  font-size: 22px;
  font-weight: 500;
}

.sobre-conquista:hover{
  transform: scale(1.12);
  transition: 0.5s;
}



@media(max-width:768px){
  .sobre{
    gap: 80px;
    margin: 50px 70px;
    align-items: start;
  }
  .sobre-titulo h1{
    font-size: 50px;
    padding: 0;
  }
  .sobre-titulo img{
    width: 130px;
    right: -20px;
  }
  .sobre-sections{
    flex-direction: column;
  }
  .sobre-left{
    font-size: 18px;
    line-height: 32px;
  }
  .sobre-left img{
    width: 100%;
  }
  .sobre-text p{
    font-size: 20px;
  }
  .sobre-skill{
    gap: 20px;
    align-items: center;
  }
  .sobre-skill p{
    font-size: 20px;
  }
  .sobre-skill hr{
    height: 6px;
  }
  .sobre-conquistas{
    justify-content: space-between;
  }
  .sobre-conquista{
    gap: 10px;
  }
  .sobre-conquista h1{
    font-size: 34px;
    font-weight: 700;
  }
  .sobre-conquista p{
    text-align: center;
    font-size: 16px;
  }
}

