.contato{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}

.contato-titulo{
  position: relative;
}

.contato-titulo h1{
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}

.contato-titulo img{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.contato-section{
  display: flex;
  gap: 150px;
}

.contato-left{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contato-left h1{
  font-size: 80px;
  font-weight: 700;
  background: linear-gradient(270deg, #04accd 50.41%, #e123a0 90.2%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contato-left p{
  max-width: 550px;
  color: #D8D8D8;
  font-size: 20px;
  line-height: 35px;
}


.contato-details{
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
  color: #D8D8D8;
  font-size: 22px;
}

.contato-detail{
  display: flex;
  align-items: center;
  gap: 20px;
}

.contato-icon {
  width: 20px; /* Define o tamanho menor do ícone */
  height: auto;
  filter: brightness(0) invert(1); /* Deixa o ícone branco */
}

.contato-right{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.contato-right label{
  color: #D8D8D8;
  font-size: 22px;
  font-weight: 500;
}

.contato-right input{
  border: none;
  width: 700px;
  height: 78px;
  padding-left: 20px;
  border-radius: 4px;
  background: #32323c;
  color: #A0A0A0;
  font-family: Outfit;
  font-size: 20px;
}

.contato-right textarea{
  width: 650px;
  border: none;
  padding: 25px;
  border-radius: 4px;
  background: #32323c;
  color: #A0A0A0;
  font-family: Outfit;
  font-size: 20px;
}

.contato-submit{
  border: none;
  color: white;
  border-radius: 50px;
  background: linear-gradient(270deg, #04accd 50.41%, #e123a0 90.2%);
  font-size: 22px;
  padding: 20px 60px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.contato-submit:hover{
  transform: scale(1.1);
  transition: 0.3s;
}


/* Estilos responsivos para telas com largura máxima de 768px */
@media (max-width: 768px) {
  .contato-section {
    flex-direction: column;
    align-items: center;
  }

  .contato-left, 
  .contato-details {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .contato-left h1 {
    font-size: 2rem;
  }

  .contato-left p {
    font-size: 1.4rem;
  }

  .contato-detail {
    justify-content: center;
    font-size: 1.2rem;
  }

  .contato-icon {
    width: 30px;
    height: 30px;
  }
}